
.grid-container {
  display: grid;
  grid-template-columns: 40% 30% auto;
  margin-bottom: 10px;
}

.heading-container {
  margin: 30px 0 30px 0;
  width: 100%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.15rem;
  word-wrap: break-word;
  padding-right: 10px;
}

.name-heading, .phone-heading {
  font-size: 1rem;
  font-weight: 600;
  color: #808080;
  text-transform: uppercase;
}

.delete-btn{
  background-color: #fa9c9c;
  columns: #000;
}