.component-body-container {
    padding: 20px;
  }
  
  .custom-btn {
    padding: 10px;
    border: none;
    margin-right: 10px;
    text-transform: uppercase;
    width: 80px;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
  }


.add-btn {
    background: #7ab97a;
    color: #fff;
  }